<mat-card class="form-container">
    <form>
        <mat-form-field>
            <input matInput name="taskId" placeholder="ID" [(ngModel)]="task.id">
        </mat-form-field>

        <mat-form-field>
            <input matInput name="taskTodo" placeholder="やること" [(ngModel)]="task.todo">
        </mat-form-field>

        <mat-form-field>
            <mat-select name="taskPriority" placeholder="プライオリティ" [(ngModel)]="task.priority">
                <mat-option value="すぐやる">すぐやる</mat-option>
                <mat-option value="あとで">あとで</mat-option>
                <mat-option value="気が向いたら">気が向いたら</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary" (click)="newTask()">新規作成</button>
        </div>
    </form>
</mat-card>